In [1]:
import pandas as pd

In [21]:
df = pd.read_csv('Crashes (All).csv')

C:\Users\eisha\AppData\Local\Temp\ipykernel_22608\3290951917.py:1: DtypeWarning: Columns (6,7,14,15,17,26,29,30,33,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Crashes (All).csv')

In [23]:
df.head()

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y
0,81380291,2021,2021-01-04,1942,2021-01-02,1910,35203,2074,6,5,...,0,0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.301025,34.043671
1,81380543,2021,2021-01-05,1933,2021-01-01,140,916,30,5,5,...,0,0,-,-,33.941830,-118.339783,LOS ANGELES,INGLEWOOD,-118.338821,33.941811
2,81380545,2021,2021-01-05,1933,2021-01-01,838,828,29,5,5,...,0,0,-,-,33.945438,-118.326469,LOS ANGELES,INGLEWOOD,-118.326477,33.945881
3,81380547,2021,2021-01-05,1933,2021-01-01,1228,828,36,5,5,...,0,0,-,-,33.937698,-118.326508,LOS ANGELES,INGLEWOOD,-118.326721,33.938660
4,81380897,2021,2021-01-05,1942,2021-01-01,920,38282,0638,5,5,...,0,0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.309280,34.102161

In [25]:
# Incorporate point x and y into lat long
# chck for missing values nans
# check for string/numbers
# set case ID as index (eisha)

# Connect it to tracts data census (abirami)
# produce contextily map for reference with crs 4326

# produce some basic summary stats

In [27]:
df['CASE_ID'].is_unique

True

In [29]:
df.columns

Index(['CASE_ID', 'ACCIDENT_YEAR', 'PROC_DATE', 'JURIS', 'COLLISION_DATE',
       'COLLISION_TIME', 'OFFICER_ID', 'REPORTING_DISTRICT', 'DAY_OF_WEEK',
       'CHP_SHIFT', 'POPULATION', 'CNTY_CITY_LOC', 'SPECIAL_COND', 'BEAT_TYPE',
       'CHP_BEAT_TYPE', 'CITY_DIVISION_LAPD', 'CHP_BEAT_CLASS', 'BEAT_NUMBER',
       'PRIMARY_RD', 'SECONDARY_RD', 'DISTANCE', 'DIRECTION', 'INTERSECTION',
       'WEATHER_1', 'WEATHER_2', 'STATE_HWY_IND', 'CALTRANS_COUNTY',
       'CALTRANS_DISTRICT', 'STATE_ROUTE', 'ROUTE_SUFFIX', 'POSTMILE_PREFIX',
       'POSTMILE', 'LOCATION_TYPE', 'RAMP_INTERSECTION', 'SIDE_OF_HWY',
       'TOW_AWAY', 'COLLISION_SEVERITY', 'NUMBER_KILLED', 'NUMBER_INJURED',
       'PARTY_COUNT', 'PRIMARY_COLL_FACTOR', 'PCF_CODE_OF_VIOL',
       'PCF_VIOL_CATEGORY', 'PCF_VIOLATION', 'PCF_VIOL_SUBSECTION',
       'HIT_AND_RUN', 'TYPE_OF_COLLISION', 'MVIW', 'PED_ACTION',
       'ROAD_SURFACE', 'ROAD_COND_1', 'ROAD_COND_2', 'LIGHTING',
       'CONTROL_DEVICE', 'CHP_ROAD_TYPE', 'PEDESTRIAN_ACCIDENT',
       'BICYCLE_ACCIDENT', 'MOTORCYCLE_ACCIDENT', 'TRUCK_ACCIDENT',
       'NOT_PRIVATE_PROPERTY', 'ALCOHOL_INVOLVED', 'STWD_VEHTYPE_AT_FAULT',
       'CHP_VEHTYPE_AT_FAULT', 'COUNT_SEVERE_INJ', 'COUNT_VISIBLE_INJ',
       'COUNT_COMPLAINT_PAIN', 'COUNT_PED_KILLED', 'COUNT_PED_INJURED',
       'COUNT_BICYCLIST_KILLED', 'COUNT_BICYCLIST_INJURED', 'COUNT_MC_KILLED',
       'COUNT_MC_INJURED', 'PRIMARY_RAMP', 'SECONDARY_RAMP', 'LATITUDE',
       'LONGITUDE', 'COUNTY', 'CITY', 'POINT_X', 'POINT_Y'],
      dtype='object')

In [31]:
# how many sereve/fatal accidents in which tracts, top 10 tracts
# how many severe/datal accidents by weather
# mean number of accidents in top 10 tracts

#boolean values of whether its severe or fatal (eisha)

In [33]:
# lets go over wrangling and spatial relations

In [35]:
# 3 maps
# q that just shows crashes in LA
# Machine learning

In [37]:
# save it as a new csv file and rename it accordingly