In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('Crashes (Severe and Fatal).csv')

C:\Users\eisha\AppData\Local\Temp\ipykernel_22608\1029628201.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Crashes (Severe and Fatal).csv')

In [7]:
df.head()

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y
0,81386247,2021,2021-01-12,1942,2021-01-11,2250,42834,0841,1,5,...,0,0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.463303,34.040527
1,81386451,2021,2021-01-13,1933,2021-01-11,1825,1019,34,1,5,...,0,0,-,-,33.934589,-118.343948,LOS ANGELES,INGLEWOOD,-118.343910,33.934555
2,81386523,2021,2021-01-13,1942,2021-01-08,215,37336,2015,5,5,...,0,0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.299965,34.076294
3,81386600,2021,2021-01-13,1942,2021-01-11,1440,34959,0813,1,5,...,1,0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.468544,34.071571
4,81389667,2021,2021-01-18,1942,2021-01-13,1510,40315,0819,3,5,...,0,0,-,-,NaN,NaN,LOS ANGELES,LOS ANGELES,-118.428917,34.066875

In [9]:
# Incorporate point x and y into lat long
# chck for missing values nans
# check for string/numbers
# set case ID as index (eisha)

# Connect it to tracts data census (abirami)
# produce contextily map for reference with crs 4326

# produce some basic summary stats

In [13]:
df['CASE_ID'].is_unique

True

In [11]:
df.columns

Index(['CASE_ID', 'ACCIDENT_YEAR', 'PROC_DATE', 'JURIS', 'COLLISION_DATE',
       'COLLISION_TIME', 'OFFICER_ID', 'REPORTING_DISTRICT', 'DAY_OF_WEEK',
       'CHP_SHIFT', 'POPULATION', 'CNTY_CITY_LOC', 'SPECIAL_COND', 'BEAT_TYPE',
       'CHP_BEAT_TYPE', 'CITY_DIVISION_LAPD', 'CHP_BEAT_CLASS', 'BEAT_NUMBER',
       'PRIMARY_RD', 'SECONDARY_RD', 'DISTANCE', 'DIRECTION', 'INTERSECTION',
       'WEATHER_1', 'WEATHER_2', 'STATE_HWY_IND', 'CALTRANS_COUNTY',
       'CALTRANS_DISTRICT', 'STATE_ROUTE', 'ROUTE_SUFFIX', 'POSTMILE_PREFIX',
       'POSTMILE', 'LOCATION_TYPE', 'RAMP_INTERSECTION', 'SIDE_OF_HWY',
       'TOW_AWAY', 'COLLISION_SEVERITY', 'NUMBER_KILLED', 'NUMBER_INJURED',
       'PARTY_COUNT', 'PRIMARY_COLL_FACTOR', 'PCF_CODE_OF_VIOL',
       'PCF_VIOL_CATEGORY', 'PCF_VIOLATION', 'PCF_VIOL_SUBSECTION',
       'HIT_AND_RUN', 'TYPE_OF_COLLISION', 'MVIW', 'PED_ACTION',
       'ROAD_SURFACE', 'ROAD_COND_1', 'ROAD_COND_2', 'LIGHTING',
       'CONTROL_DEVICE', 'CHP_ROAD_TYPE', 'PEDESTRIAN_ACCIDENT',
       'BICYCLE_ACCIDENT', 'MOTORCYCLE_ACCIDENT', 'TRUCK_ACCIDENT',
       'NOT_PRIVATE_PROPERTY', 'ALCOHOL_INVOLVED', 'STWD_VEHTYPE_AT_FAULT',
       'CHP_VEHTYPE_AT_FAULT', 'COUNT_SEVERE_INJ', 'COUNT_VISIBLE_INJ',
       'COUNT_COMPLAINT_PAIN', 'COUNT_PED_KILLED', 'COUNT_PED_INJURED',
       'COUNT_BICYCLIST_KILLED', 'COUNT_BICYCLIST_INJURED', 'COUNT_MC_KILLED',
       'COUNT_MC_INJURED', 'PRIMARY_RAMP', 'SECONDARY_RAMP', 'LATITUDE',
       'LONGITUDE', 'COUNTY', 'CITY', 'POINT_X', 'POINT_Y'],
      dtype='object')

In [ ]:
# how many sereve/fatal accidents in which tracts, top 10 tracts
# how many severe/datal accidents by weather
# mean number of accidents in top 10 tracts

#boolean values of whether its severe or fatal (eisha)

In [ ]:
# lets go over wrangling and spatial relations

In [17]:
# 3 maps
# q that just shows crashes in LA
# Machine learning